<h1>Lista de Productos</h1>
<div>
  {{#each products}}
    <div>
      <h3>{{this.title}}</h3>
      <p>Categoría: {{this.category}}</p>
      <p>Precio: ${{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <button class="add-to-cart-btn" data-id="{{this._id}}">Agregar al Carrito</button>
    </div>
    <hr />
  {{/each}}
</div>

<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Página Anterior</a>
  {{/if}}
  <span>Página {{page}} de {{totalPages}}</span>
  {{#if hasNextPage}}
    <a href="{{nextLink}}">Página Siguiente</a>
  {{/if}}
</div>

<script src="/js/products.js"></script>